<h5 style="background-color: darkmagenta;">Function Task</h5>
<p>

    Functions Task
    A.Create a simple function with name firstFunction().
    and stored the value in console ('This is my first function')
    and call the function firstFunction().
    B.Create a function with name square().
    The function square() takes one parameter and parameter name is num.
    Return the parameter (num) multiplied by itself. Example like (num * num)
    and call the function square() and store the result in console.

</p>
<h3>Check the console for function output</h3>