<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Angular Task</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link cursor-pointer" routerLink="variabletask">Variable Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-pointer" routerLink="object">Object Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-pointer" routerLink="array">Array Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-pointer" routerLink="function">Function Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-pointer" routerLink="user">User Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-pointer" routerLink="image">Image</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-pointer" routerLink="click">Click Button</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-pointer" routerLink="twoway">Two-Way Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-pointer" routerLink="ngif">NgIf Exa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-pointer" routerLink="ngfor">NgFor Exa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-pointer" routerLink="bootstrap">Bootstrap NgFor</a>
        </li>
         <li class="nav-item">
          <a class="nav-link cursor-pointer" routerLink="api">api</a>
        </li>
          <li class="nav-item">
          <a class="nav-link cursor-pointer"    routerLink="pform">pform</a>
        </li>
         
      </ul>
         <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <span class="text text-info">  {{loggedUser}}</span>
          
        <button class="btn btn-danger btn-sm" type="submit" (click)="logOff()">Log Out</button>
        <!-- <button class="btn btn-outline-success" type="submit" (click)=" logOff()">Log Out</button> -->
        
      </form>
    </div>
  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>

<h1 style="text-align: center; color:#7e0570;">Welcome To Angular Task!</h1><hr>
