<h5 style="background-color: blueviolet;">Object Task!!</h5>

<p>
                      A. Create a Object to store Product information
                       Fields will be ProductName, Category, Price, Discount
                       Print ProductName & Price in console
                      B. Create a Object to store Train Ticket information
                       Fields will be TrainName, TrainNo, NoOfPassinger, From, To, DateOfJourney
                       Print whole Information in P tag like below
                        Traine Name: Vidarbah Express
                        Traine No: 12135
                        No Of Passinger : 3
                        From Location: Nagpur
                        To Location: Mumbai
                        Date Of Journey: 08-04-2023 05.00 PM
                       C. Create a Object to Hold Information of School
                        Fields will be SchoolName, PrincipleName, ContactNo, Address
                        Print whole Object in console
                        after that add one more Field SchoolEmail with some email
                        again print updated object
</p>
<h2>Train Ticket Information</h2>
<p>Train Name: {{ trainTicket.TrainName }}</p>
<p>Train No: {{ trainTicket.TrainNo }}</p>
<p>No Of Passinger: {{ trainTicket.NoOfPassinger }}</p>
<p>From Location: {{ trainTicket.From }}</p>
<p>To Location: {{ trainTicket.To }}</p>
<p>Date Of Journey: {{ trainTicket.DateOfJourney }}</p><hr>
